<<<<<<< HEAD
.footer{
=======

.footer {
        margin:0;
        padding:0;
        font-family: 'fuente_principal';
>>>>>>> bb150f645606aae166a1a646bc3756b79d06ad41
    width: 100%;
    background-color: rgb(157, 126, 34);
    margin:0;
    padding:0;
}

.footer .nivel1{
  width: 100%;  
  max-width: 1200;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: -20px;
 
}

.footer .nivel1 .contactos{
    margin-bottom: 25;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    
   
  
}

.footer .nivel1 .caja .sobre_nosotros{
    color: white;
    margin-bottom: 10px;
    text-align: center;
    padding: 5;
    width: 10px;
    margin: auto;
}

.footer .nivel1 .caja .sobre_nosotros p{
    padding: 0px;
    width: 0px;
    margin: 0px;
    margin: auto;
    padding: 5;
    width: 10px;
    margin: auto;
    
}

.footer .nivel2 {
    text-align: center;

}

