
.enlaces__categorias {
    text-decoration: none;
    color: black;
}

.enlaces__categorias:hover {
    color: var(--secundario2);
}
/*
.row {
    text-align: center;
    font-size: x-large;
    margin: 0 2rem;
    height: 5rem;
}
*/
/*HEADER*/



/*HEADER*/

/*SIDEBAR*/


/*SIDEBAR*/

/*BODY*/

.background-dark {
    background-color: var(--principal2);
}

h2 {
    font-size: 1.1rem;
}

/*BODY*/
